.footer
  .footer__left
    %p OnBoard
    -# = link_to '/' do
    -#   = icon("fab", "twitter-square")
    -# = link_to '/' do
    -#   = icon("fab", "facebook-square")


  .footer__right
    = link_to '/messages' do
      = icon("far", "envelope")

    = link_to '/posts/about' do
      = icon("fas", "id-card")