-if @post.user.id != current_user.id
  .posts__other--slick
    -# =link_to user_path(@user) do
    -#   =insert_name(@post.user.username)
    -# = @post.user.username
    -# %span さん
    -# %br
    %span その他の投稿
    %ul.posts__other--slick__slide
      -@posts.each do |f|
        -# .other__image
        %li.other__image
          = link_to post_path(f.id) do
            = image_tag(f.image.url)
-else
  .posts__other--others
    %span#notmine その他の投稿
  %ul.other
    -@others.each do |f|
      %li.other__image
        = link_to post_path(f.id) do
          = image_tag(f.image.url)

  -#   =link_to user_path(@user) do
  -#     =insert_name(@post.user.username)
  -#   -# = @post.user.username
  -#   %span さん
  -#   %br
