.wrap-newpass{
  background-color: #FAFAFA;
  height: 100%;
  .newpass{
    width: 30%;
    padding-top: 50px;
    margin: 0 auto;
    h2{
      font-size: 25px
    }
    &__top{
      .field{
        margin-top: 20px;
        label{
          font-size: 15px;
        }
        input{
          width: 95%;
          height: 25px;
          outline: none;
          margin: 5px;
          border: none;
          background-color: #FAFAFA;
          font-size: 15px;
        }
        .line{
          width: 95%;
          height: 2px;
          border-top: black solid 2px;
        }
      }
      .actions{
        text-align: center;
        margin-top: 30px;
        input{
          color: white;
          font-size: 20px;
          text-decoration: none;
          background-color: #3d3d5c;
          outline: none;
          margin-top: 10px;
          font-family: "M PLUS 1p";
        }
      }
    }
    &__bottom{
      .links{
        padding-top: 50px;
        .link{
          text-align: center;
          a{
            color: #3d3d5c;
            font-size: 15px;
            text-decoration: none;
            text-align: center;
          }
        }
      }
    }
  }
}