.wrap
  = render "shared/header"

  .container

    %ul.slider
      %li.slider__one
        =image_tag "mainbox1.jpg", alt: "mainbox1", class: "banner"
      %li.slider__one
        =image_tag "mainbox2.jpg", alt: "mainbox2", class: "banner__resize"
      %li.slider__one
        =image_tag "mainbox3.jpg", alt: "mainbox3", class: "banner"
      %li.slider__one
        =image_tag "mainbox4.jpg", alt: "mainbox4", class: "banner"
    
    .message__top
      %p ~Every hundred feet the world changes~
      %span 100フィーとごとに世界は変わる

    .use
      .use__detail.use__detail--leftmiddle
        .use__detail--image
          =image_tag "email22.jpg"
        .use__detail--exp
          .use__detail--exp__top
            %p 登録をしよう!
          .use__detail--exp__bottom
            %p 登録すると
            %p 写真の詳細が見れるよ！
            %p 検索機能も使える！
      .use__detail.use__detail--leftmiddle
        .use__detail--image
          =image_tag "cam22.jpg"
        .use__detail--exp
          .use__detail--exp__top
            %p 写真を投稿しよう！
          .use__detail--exp__bottom
            %p 写真詳細を書くと
            %p 検索で他の人が
            %p 探しやすくなるよ！
      .use__detail
        .use__detail--image
          =image_tag "com22.jpg"
        .use__detail--exp
          .use__detail--exp__top
            %p 検索しよう！
          .use__detail--exp__bottom
            %p 検索して
            %p 次の旅行先を見つけよう！

    .use-mini
      %table
        %tr
          %th
            =image_tag "email22.jpg"
          %th 登録しよう！
        %tr
          %th
            =image_tag "cam22.jpg"
          %th 写真を投稿しよう！
        %tr
          %th
            =image_tag "com22.jpg"
          %th 検索しよう！



    .message__bottom
      %p 今まであなたが知らなかった世界を探求！
      %span 観光スポットからローカルな場所までみんなで投稿
      
    .ranking
      = render "shared/ranking"

    .posts
      %p New Post
    .newitems
      = render "shared/newpost"
      
  = render "shared/footer"
      
      

