= render "shared/header"

.posts
  .posts__username
    =link_to user_path(@user) do
      =insert_name(@post.user.username)
    -# = @post.user.username
    %span さんの投稿
  .posts__main
    .posts__main--left
      = render "shared/posts__mainleft"
    .posts__main--right
      = render "shared/posts__mainright"
  
  .posts__other
    = render "shared/other__posts"


    -#       -if @post.user.id == current_user.id
    -#         -# .right__button
    -#         .right__edit
    -#           = link_to edit_post_path(@post), method: :get, class:"edit-btn" do
    -#             = icon('fas', 'edit')
    -#         .right__delete
    -#           = link_to post_path(@post), method: :delete, class:"delete-btn" do
    -#             = icon('fas', 'trash-alt')
    -#       -# -else
    -#       .right__like
    -#         = render "likes/like"
            -# , locals: { post: @post, posts: @posts, likes: @likes, like: @like }


      -# -if @post.user_id != current_user.id
      -#   .comment-form
      -#     = form_for [@post, @comment] do |f|
      -#       = f.hidden_field :post_id, value: @post.id
      -#       = f.text_area :content
      -#       %br
      -#       = f.submit "Comment", class: "comment-submit"

      -#     -if @comments.any?
      -#       .comments
      -#         -@comments.each do |c|
      -#           .comments-box
      -#             .comments-box__name
      -#               = c.user.username unless c.user.blank?
      -#               -# =link_to user_path(@user) do
      -#               -#   = insert_name(@comments.user.username)
      -#             .comments-box__comment
      -#               = c.content

    -# = render "shared/comments"
    
    // その他の投稿は一時的にコメントアウト

-# = render "shared/footer"