.wrap{
  overflow: hidden;
  .container{
    .slider{
      padding-left: 0;
      width: 100%;
      .slider__one{
        margin: 0 5px;
        list-style: none;
        .banner__resize{
          height: 453px;
        }
      }
    }

    .message-top{
      text-align: center;
      padding-bottom: 45px;
      p{
        font-family: 'Amatic SC', cursive;
        font-size: 35px;
        padding-top: 30px;
      }
      span{
        font-family: "M PLUS 1p";
      }
    }
    .message-bottom{
      text-align: center;
      margin-top: 50px;
      height: 150px;
      p{
        font-size: 20px;
        line-height: 60px;
      }
    }

    .use{
      margin: 25px;
      height: 300px;
      display: flex;
      justify-content: center;
      
      &__detail{
        width: 15%;
        height: 100%;
        &--image{
          height: 30%;
          text-align: center;
          position: relative;
          img{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);
          }
        }
        &--exp{
          height: 45%;
          background-color:lightgray;
          padding: 10px;
          text-align: center;

          
          &__top{
            margin-bottom: 15px;
            p{
              font-size: 17px;
              font-weight: bold;
            }
          }
        }
        &--leftmiddle{
          margin-right: 20px;
        }
      }
    }

    .use-mini{
      display: none;
    }
    .ranking{
      width: 60%;
      margin: 0 auto;
      height: 300px;
      border-top: solid 2px lightgray;
      p{
        font-size: 25px;
        padding: 10px 0;
      }
      .ranking-order{
        display: flex;
        justify-content: space-evenly;
        height: 250px;
        &__box{
          width: 30%;
          .box-each{
            height: 200px;
            &__rank{
              font-size: 20px;
              i{
                color: yellow;
              }
            }
            a{
              img{
                width: 100%;
                height: 100%;
              }
            }
          }
        }
      }
    }

    .posts{
      margin: 50px auto;
      width: 80%;
      border-top: solid 2px lightgray;
      p{
        font-size: 25px;
        padding: 10px 0;
      }
    }
  }
}

//レスポンシブ

//タブレット縦
@media screen and (max-width: 1024px){
  .container{
    .use{
      &__detail{
        width: 20%!important;
      }
    }
    #ranking{
      width: 75%;
    }
  }
}

//スマホ横
@media screen and (max-width: 896px){
  .container{
    .use{
      &__detail{
        width: 30%!important;
      }
    }
    #ranking{
      width: 85%;
    }
  }
}

@media screen and (max-width: 650px){
  .ranking{
    display: none;
  }
}


//スマホたて
@media screen and (max-width: 480px){
  .use{
    display: none!important;
  }
  .use-mini{
    display: block!important;
    table{
      margin: 0 auto;
    }
  }
  .message-bottom{
    #top{
      font-size: 18px;
    }
  }
}
