.new{
  margin: 0 170px 0 170px;
  height: 100%;
  .new-main{
    height: 100px;
    p{
      font-size: 15px;
      text-align: center;
      margin: 50px 0;
    }
    .main{
      padding: 10px;
      display: flex;
      // &__left{
      //   width: 30%;
      //   height: 400px;
      //   text-align: center;
      //   padding: 30px;
      //   background-color: white;
      //   border: lightgray 1px solid;
      //   font-size: 13px;
      //   table{
      //     margin: 20px 0;
      //     tr{
      //       height: 25px;
      //       td{
      //         width: 25%;

      //       }
      //       td.text{
      //         width: 65%;
      //       }
      //     }
      //   }

        // p{
        //   height: 15px;
        //   margin: 0;
        //   font-size: 10px;
        // }
  
      //   label{
      //     i{
      //       font-size: 200px;
      //     }
      //     i:hover{
      //       cursor: pointer;
      //       transform: scale(1.1, 1.1);
      //     }
      //     input{
      //       font-family: "M PLUS 1p";

      //     }
      //   }
      //   img{
      //     margin: 0 auto;
      //   }
      // }
      &__right{
        width: 50%;
        padding: 15px;
        background-color: white;
        // border: lightgray 1px solid;
        // margin-left: auto;
        margin: 0 auto;
        form{
          .preview{
            text-align: center;
            label{
              i{
                font-size: 150px;
                margin: 30px auto;
              }
              input{
                display: none;
              }
            }
          }
        }

        input, textarea{
        outline: none;
        margin: 15px;
        font-size: 13px;
        padding: 3px;
        font-family: "M PLUS 1p";
        }
        input{
          height: 20px;
          padding-left: 10px;
          width: 70%;
        }
        .discription{
          text-align: right;
          display: flex;
          label{
            line-height: 100px;
            width: 25%;
            text-align: center;
          }
          textarea{
            height: 200px;
            border: gray 1px solid;
            padding: 10px;
            width: 70%;
            margin: 20px 0;
            justify-content: center;
          }
        }
        span{
          font-size: 5px;
          float: right;
        }
        .field{
          display: flex;
          label{
            line-height: 60px;
            width: 25%;
            text-align: center;
          }
        }
      }
    }
    .bottom{
      .submit{
        text-align: center;
        input{
          background-color:#3d3d5c;
          color: white;
          font-size: 20px;
          text-decoration: none;
          margin: 20px;
          height: 50px;
          width: 100px;
          font-family: "M PLUS 1p";

  
        }
      }
    }
  }
}
