.new{
  // margin: 0 170px 0 170px;
  // height: 100%;
  .new-main{
    height: 100px;
    p{
      font-size: 15px;
      text-align: center;
      margin: 50px 0;
    }
    .main{
      width: 40%;
      margin: 0 auto;
      form{
        .preview{
          text-align: center;
          label{
            i{
              font-size: 150px;
              margin: 30px auto;
            }
            input{
              display: none;
            }
          }
        }
      }

      input, textarea{
      outline: none;
      margin: 15px;
      font-size: 13px;
      padding: 3px;
      font-family: "M PLUS 1p";
      }
      input{
        height: 20px;
        padding-left: 10px;
        width: 70%;
      }
      .discription{
        text-align: right;
        display: flex;
        label{
          line-height: 100px;
          width: 25%;
          text-align: center;
        }
        textarea{
          height: 180px;
          border: gray 1px solid;
          padding: 10px;
          width: 70%;
          margin: 20px 15px;
          justify-content: center;
          border-radius: 5px;
        }
      }
      .field{
        display: flex;
        label{
          line-height: 60px;
          width: 25%;
          text-align: center;
        }
      }
    }
  }
  .bottom{
    .submit{
      text-align: center;
      input{
        background-color:#3d3d5c;
        color: white;
        font-size: 20px;
        text-decoration: none;
        margin: 20px;
        height: 50px;
        width: 100px;
        font-family: "M PLUS 1p";
        padding: 0;
      }
    }
  }
}
