.search-main{
  min-height: 100%;
  .search-top{
    background-color: #f2f2f2;
    line-height: 50px;
    width: 100%;
    form{
      height: 50px;
      width: 60%;
      margin: 0 auto;
      text-align: center;
      label{
        color: black;
        font-size: 20px;
        margin-right: 15px;

      }
      input{
        height: 30px;
        border: none;
        padding: 0 0 0 5px;
        font-size: 15px;
        width: 60%;
        outline: none;
        font-family: "M PLUS 1p";
      }
    }
    p{
      color: gray;
      font-size: 13px;
      width: 25%;
    }
  }
  .search-bottom{
    margin: 40px auto;
    width: 70%;
    p{
      text-align: center;
      padding-bottom: 15px;
    }
    .search-result{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;

      .search-result__each{
        width: 18%;
        height: 200px;
        margin: 20px 0;
        position: relative;
        img{
          height: 100%;
          width: 100%;
          border: lightgray 1px solid;
        }
        p{
          position: absolute;
          top: 10px;
          left: 8px;
          font-size: 15px;
          font-weight: bold;
          color: black;
        }
        .js{
          z-index: 100;
          &__title{
            color: white;
          }
        }
      }
    } 
  }
}

@media screen and (max-width: 896px){
  #search-form{
    width: 80%;
    input{
      font-size: 13px;
    }
  }
  #each{
    width: 30%;
  }
}
@media screen and (max-width: 480px){
  #search-form{
    width: 95%;
    input{
      font-size: 10px;
    }

  }
  #each{
    width: 47%;
  }
}