.posts{
  width: 60%;
  margin: 30px auto;
  &__username{
    width: 100%;
    height: 30px;
    font-size: 25px;
    margin: 5px;
    a{
      text-decoration: none;
      color: black;
    }
    span{
      font-size: 10px;
    }
  }
  &__main{
    margin-bottom: 30px;
    display: flex;
    &--left{
      width: 60%;
      &__top{
        height: 450px;
        background-color: lightgray;
        position: relative;
        margin-top: 50px;
        img{
          height: 90%;
          width: 90%;
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform : translate(-50%,-50%);
          transform : translate(-50%,-50%);
        }
      }
      &__middle{
        display: none;
      }
      &__bottom{
        height: 150px;
        padding: 50px 25px 0 25px;
        font-size: 13px;
      }
      &__option{
        display: none;
      }
    }
    &--right{
      width: 30%;
      height: 200px;
      background-color: #FAFAFA;
      margin-left: auto;
      margin-top: 50px;
      &__intro{
        padding: 20px 20px 0 20px;
        height: 100%;
        .name{
          height: 20%;
          a{
            text-decoration: none;
            font-size: 17px;
            color: black;
            float: right;
          }
          span{
            font-size: 10px;
          }
        }
        .info, .pic, .countries{
          height: 20%;
          p{
            font-size: 10px;
          }
          .answer{
            float: right;
          }
        }
      }
      &__details{
        text-align: center;
        margin: 10px 10px 20px 10px;
        .country, .city, .how{
          display: flex;
        }
        p{
          width: 40%;
        }
        .text{
          width: 70%;
          text-align: center;
          font-weight: 400;
        }
      }
      &__choice{
        width: 100%;
        height: 130px;
        text-align: center;
        padding-top: 50px;

        a{
          font-size: 15px;
          text-decoration: none;
        }
        .edit-button{
          color: white;
          background-color:#3b47ed;
          padding: 10px;
        }
        .delete-button{
          color: white;
          background-color:#f04c41;
          padding: 10px;
        }
      }
      &__like{
        font-size: 30px;
        text-align: center;
        #liked{
          a{
            text-decoration: none;
            color: red;
          }
        }
        #like{
          a{
            text-decoration: none;
            color: red;
          }
        }
      }
    }
  }
  &__other{
    height: 200px;
    width: 80%;
    margin: 0 auto;
    &--slick{
      ul.posts__other--slick__slide{
        padding-inline-start: 0;
        display: flex;
        li{
          list-style: none;
          width: 20%;
          a{
            img{
              width: 90%;
              height: 130px;
            }
          }
        }
      }
    }
    ul.other{
      padding-inline-start: 0;
      display: flex;
      li.other__image{
        list-style: none;
        width: 20%;
        a{
          img{
            width: 90%;
            height: 130px;
          }
        }
      }
    }
  }

  &__comments{
    margin: 50px 0;
    &--top{
      width: 50%;
      margin: 0 auto;
      border: #e6e6e6 1px solid;
      p{
        background-color: #e6e6e6;
        font-size: 18px;
        padding: 10px;
      }
      span{
        font-size: 15px;
      }
      &__box{
        padding: 10px 10px 10px 20px;
        .name{
          color: black;
          font-size: 15px;
        }
        .comment{
          width: 90%;
          margin: 5px auto;
          font-size: 11px;
        }
      }
    }
    &--bottom{
      width: 60%;
      margin: 20px auto;
      form{
        padding: 10px;
        text-align: center;
        textarea{
          width: 60%;
          height: 100px;
          border: lightgray 1px solid;
          outline: none;
          // border-radius: 20px;
          padding: 15px;
        }
        .comment-submit{
          width: 20%;
          text-align: center;
          background-color: #e6e6e6;
          color: #514D4D;
          height: 33px;
          font-size: 15px;
          text-decoration: none;
          border: none;
          font-family: "M PLUS 1p";
          margin-top: 15px;

        }
      }
    }
  }
}

//レスポンシブ

//タブレット縦
@media screen and (max-width: 1024px){
  .posts{
    width: 70%;
    &__other{
      width: 85%;
    }
    &__comments{
      &--bottom{
        width: 70%;
      }
    }
  }
}


@media screen and (max-width: 896px){
  .posts{
    width: 80%;
    &__other{
      width: 90%;
    }
  }
}

@media screen and (max-width: 650px){
  .posts{
    &__main{
      display: block;
      &--right{
        display: none;
      }
      &--left{
        width: 90%;
        margin: 0 auto;
        &__middle{
          display: block;
          height: 70px;
          margin-top: 20px;
          p{
            text-align: center;
            font-size: 17px;
            margin-bottom: 15px;
          }
          table{
            margin: 0 auto;
            padding: 0;
            width: 95%;
            td.question{
              width: 7%;
            }
            td{
              width: 13%;
              font-size: 10px;

            }
          }
        }
        &__bottom{
          padding-top: 30px;
        }
        &__option{
          display: block;
          margin: 0 auto;
          width: 90%;

          #button{
            // width: 85%;
            height: 70px;
            line-height: 70px;
            margin: 0 auto;
            text-align: center;
            a{
              text-align: center;
              font-size: 13px;
              text-decoration: none;
            }
    
            .edit-button{
              color: white;
              background-color:#3b47ed;
              padding: 10px;
            }
            .delete-button{
              color: white;
              background-color:#f04c41;
              padding: 10px;
            }
          }
          #like-heart{
            text-align: center;
            font-size: 30px;
            #liked{
              a{
                text-decoration: none;
                color: red;
              }
            }
            #like{
              a{
                text-decoration: none;
                color: red;
              }
            }
    
          }
        }
      }
    }
    &__other{
      width: 95%;
      ul.other, .posts__other--slick__slide{
        padding-inline-start: 0;
      }
    }
    &__comments{
      &--top{
        width: 70%;
      }
      &--bottom{
        width: 80%;
      }
    }
  }
}


//スマホたて
@media screen and (max-width: 480px){
  .posts{
    width: 90%;
    &__main{
      &--left{
        &__middle{
          p{
            font-size: 15px;
          }
          table{
            td{
              font-size: 5px;
            }
          }
        }
        &__option{
          width: 95%;
        }
      }
    }
    &__other{
      height: 700px;
      width: 60%;
      text-align: center;
      &--others, &--slick{
        span{
          font-size: 18px;
        }
      }
      ul.other, ul.posts__other--slick__slide{
        display: block;
        margin-top: 30px;
        li.other__image{
          width: 100%;
          a{
            img{
              width: 60%;
              height: 130px;
            }
          }
        }
      }
    }
    &__comments{
      &--top{
        width: 80%;
      }
      &--bottom{
        width: 90%;
        #comment-submit{
          width: 35%;
        }
      }
    }
  }
}