.posts{
  margin: 30px 270px 30px 300px;
  &__username{
    width: 100%;
    height: 30px;
    font-size: 25px;
    margin: 5px;
    a{
      text-decoration: none;
      color: black;
    }
    span{
      font-size: 10px;
    }
  }
  &__main{
    margin: 30px 0;
    display: flex;
    &--left{
      width: 60%;
      &__top{
        height: 50px;
        display: flex;
        // .country, .city, .how{
        //   // display: flex;
        //   line-height: 50px;
        //   width: 33%;
        //   padding-left: 10px;
        //   p{
        //     font-size: 20px;
        //   }
        //   span{
        //     padding: 0 5px;
        //   }
        //   .text{
        //     display: block;
        //     margin-left: auto;
        //     margin-right: auto;
        //   }
        // }
      }
      &__middle{
        height: 450px;
        background-color: lightgray;
        position: relative;
        img{
          height: 90%;
          width: 90%;
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform : translate(-50%,-50%);
          transform : translate(-50%,-50%);
        }
      }
      &__bottom{
        height: 150px;
        padding: 20px 25px 0 25px;
        font-size: 13px;
      }
    }
    &--right{
      width: 25%;
      height: 200px;
      background-color: #FAFAFA;
      margin-left: auto;
      margin-top: 50px;
      &__intro{
        padding: 20px 20px 0 20px;
        height: 100%;
        .name{
          height: 20%;
          a{
            text-decoration: none;
            font-size: 20px;
            color: black;
            float: right;
          }
          span{
            font-size: 10px;
          }
        }
        .info, .pic, .countries{
          height: 20%;
          p{
            font-size: 10px;
          }
          .answer{
            float: right;
          }
        }
      }
      &__details{
        text-align: center;
        margin: 10px 10px 20px 10px;
        .country, .city, .how{
          display: flex;
        }
        p{
          width: 40%;
        }
        .text{
          width: 70%;
          text-align: center;
          font-weight: 600;
        }
      }
      &__choice{
        width: 100%;
        text-align: center;

        a{
          font-size: 15px;
          text-decoration: none;
        }
        .edit-button{
          color: white;
          background-color:#3b47ed;
          padding: 10px;
        }
        .delete-button{
          color: white;
          background-color:#f04c41;
          padding: 10px;
        }
      }
      &__like{
        // float: right;
        // position: absolute;
        // bottom: 7px;
        // right: 5px;
        font-size: 30px;
        text-align: center;
        #liked{
          a{
            text-decoration: none;
            color: red;
          }
        }
        #like{
          a{
            text-decoration: none;
            color: red;
          }
        }
      }
    }
  }
  &__other{
    height: 150px;
    width: 80%;
    margin: 0 auto;
    &--slick{
      ul.posts__other--slick__slide{
        display: flex;
        li{
          list-style: none;

          width: 20%;

          a{
            img{
              width: 90%;
              height: 130px;
            }
          }
        }
      }
    }
    ul.other{
      display: flex;
      li.other__image{
        list-style: none;

        width: 20%;

        a{
          img{
            width: 90%;
            height: 130px;
        }
        }
      }
    }
  }

    //       &__like{
    //         float: right;
    //         position: absolute;
    //         bottom: 7px;
    //         right: 5px;
    //         font-size: 30px;
    //         #liked{
    //           a{
    //             text-decoration: none;
    //             color: red;
    //           }
    //         }
    //         #like{
    //           a{
    //             text-decoration: none;
    //             color: red;
    //           }
    //         }
    //       }
    //     }

  &__comments{
    margin: 50px 0;
    &--top{
      width: 50%;
      margin: 0 auto;
      border: #e6e6e6 1px solid;
      // border-radius: 10px;
      p{
        background-color: #e6e6e6;
        font-size: 18px;
        padding: 10px;
      }
      span{
        font-size: 15px;
      }
      &__box{
        padding: 10px 10px 10px 20px;
        .name{
          color: black;
          font-size: 15px;
        }
        .comment{
          width: 90%;
          margin: 5px auto;
          font-size: 11px;
        }
      }
    }
    &--bottom{
      width: 60%;
      margin: 20px auto;
      form{
        padding: 10px;
        text-align: center;
        textarea{
          width: 70%;
          height: 100px;
          border: lightgray 1px solid;
          outline: none;
          // border-radius: 20px;
          padding: 15px;
        }
        .comment-submit{
          width: 20%;
          text-align: center;
          background-color: #e6e6e6;
          color: #514D4D;
          height: 33px;
          font-size: 15px;
          text-decoration: none;
          border: none;
          font-family: "M PLUS 1p";
          margin-top: 15px;

        }
      }
    }
  }
}
